<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/navbar.ejs") %>
    <form action="/add" method="POST">
        <label for="name">Prof</label>
        <input id="name" name="name" type="text" placeholder="Enter professor name" required>
        <label for="course">Course</label>
        <input id="course" name="course" type="text" placeholder="Enter course" required>
        <button>Submit</button>
    </form>
</body>
</html>